.mainWindow {
  display: flex;
  flex-direction: column;
  scroll-snap-type: y mandatory;
  overflow-y: auto; 
  height: 100vh; 
}

.section {
  scroll-snap-align: start;
  min-height: 100vh; 
  
  @media (max-width: 600px) {
      min-height: auto; 
  }
}

html {
  scroll-behavior: smooth; 
}