.events {
    min-height: 100vh;
    padding: 50px;
    

    .calendar-container {
        padding: 20px;
        max-width: 1200px;  
        width: 100%; 
        margin: 0 auto;    
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  



        iframe {
            width: 100%;  // Ensuring the iframe takes full width
            height: 100%; // Ensuring the iframe takes full height
            border: none; // Ensure no border is shown
        }
    }
}