.founders {
    min-height: 100vh;
    padding: 50px;
    background-color: rgba(166, 44, 44, 0.744);
}

.founders-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    align-items: stretch;
    margin-top: 8vh;
}

.founder-card {
    position: relative; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; 
    width: 90%; 
    max-width: 300px; 
    min-height: 300px; 
    background: rgba(255, 255, 255, 0.8); 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    margin: 20px; 
    overflow: hidden; 
    flex-grow: 1; 
    transition: all 0.3s ease; 

    .founder-bio {
        max-height: 0; 
        overflow: hidden; 
        background: rgba(255, 255, 255, 0.9); 
        padding: 0 10px; 
        transition: max-height 0.3s ease; 
        border-radius: 0 0 10px 10px; 
        box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1); 
        text-align: center; 
        z-index: 1; 
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); 
        font-family: 'Syncopate';

        .social-icons {
            display: flex;
            flex-direction: row;     
            justify-content: center;
            align-items: center;      
            transition: opacity 0.3s ease;
            margin-top: 10px;           
            margin-bottom: 10px;       

            a {
                margin: 0 5px;       
                color: #0077b5;       
                font-size: 24px;      
            }
        }


    }

    &:hover .founder-bio {
        max-height: 200px; 
    }

    @media (max-width: 600px) {
        width: 90%;
        min-height: 250px; 
    }
}

.founder-image {
    width: 100%; 
    height: auto; 
}

.founder-info {
    padding: 10px;
    text-align: center; 
}

.founder-name {
    font-size: 1.5rem; 
    margin: 0;
    font-family: 'Syncopate';
}

.founder-uni {
    font-size: 1rem; 
    color: transparent; 
    -webkit-text-stroke: 1px #00000069; 
    stroke: 1px #dbd8d6; 
    white-space: nowrap;
    margin: 0; 
    text-transform: uppercase;
}

.founder-major {
    font-size: 0.9rem; 
    margin: 0; 
    font-family: 'Syncopate';
}

@media (max-width: 600px) {
    .founder-name {
        font-size: 1.2rem;
    }
    .founder-uni {
        font-size: 0.9rem;
    }
    .founder-major {
        font-size: 0.8rem; 
    }
}